@using bilvideo.RazorHelpers
@using proje1.BusinessLayer
@using proje1.Entities
@{
    ViewBag.Title = "bilvideo - Anasayfa";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    VideoManager vManager = new VideoManager();
    List<Video> videos = vManager.List().OrderByDescending(x=>x.sharingDate).ToList();
}
<div class="container">
    <div class="row">

        <div class="col-lg-12">

            <!-- Updates from Subscriptions -->
            <div class="content-block">
                <div class="cb-header">
                    <div class="row">
                        <div class="col-lg-10 col-sm-10 col-xs-10">
                            <ul class="list-inline">
                                <li><a href="#">Aboneliklerinizden Güncellemeler</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-2">
                            <div class="btn-group pull-right bg-clean">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Uygun</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-calender"></i> Son</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Görüntülenen</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-star"></i> En Çok Oy Alan</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> En Uzun</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="cb-content avatars">
                    <div class="row">
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava2.png" alt=""><div class="note">1</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava3.png" alt=""><div class="note">03</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava4.png" alt=""><div class="note">10</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava5.png" alt=""><div class="note">56</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava6.png" alt=""><div class="note">6</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava7.png" alt=""><div class="note">25</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava8.png" alt=""><div class="note">23</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava9.png" alt=""><div class="note">16</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava10.png" alt=""><div class="note">3</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava11.png" alt=""><div class="note">6</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava12.png" alt=""><div class="note">98</div></a></div>
                        <div class="col-lg-1 col-sm-2 col-xs-3"><a href="#"><img src="~/Content/Photos/ava1.png" alt=""><div class="note">125</div></a></div>
                    </div>
                </div>
            </div>
            <!-- /Updates from Subscriptions -->
            <!-- Featured Videos -->
            <div class="content-block head-div">
                <div class="cb-header">
                    <div class="row">
                        <div class="col-lg-10 col-sm-10 col-xs-8">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="color-active">
                                        <span class="visible-xs">Öne Çıkan</span>
                                        <span class="hidden-xs">Öne Çıkan Videolar</span>
                                    </a>
                                </li>
                                <li><a href="#">Yeni Videolar</a></li>
                                <li class="hidden-xs"><a href="#">Sizin İçin Önerilen</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-4">
                            <div class="btn-group pull-right bg-clean">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sıralama <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Uygun</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-calender"></i> Son</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Görüntülenen</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-star"></i> En Çok Oy Alan</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> En Uzun</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="cb-content videolist">
                    <div class="row">
                        @if (videos != null)
                        {
                            foreach(Video video in videos)
                            {
                                <div class="col-lg-3 col-sm-6 videoitem">
                                    <div class="b-video">
                                        <div class="v-img">
                                            @*<a href="single-video-tabs.html"><img src="~/Content/Photos/video1-1.png" alt=""></a>*@
                                            @Html.EncodedLink("<img src='/Content/Images/" + video.frame + "' alt='' class='video-frame'/>", "Watch", "Video", new { id = video.videoNo }, null)
                                            @*<a href="@Url.Action("Watch","Video",new { id = video.videoNo })"><img src="~/Content/Images/@video.frame" alt="" class="video-frame"/></a>*@
                                            <div class="time">@if (video.duration.Hours == 0) { if(video.duration.Seconds<10){@(video.duration.Minutes+":0"+video.duration.Seconds)}else{@(video.duration.Minutes+":"+video.duration.Seconds)} }else{@video.duration}</div>
                                        </div>
                                        <div class="v-desc">
                                            @Html.EncodedLink(video.videoTitle, "Watch", "Video", new { id = video.videoNo }, null)
                                            @*<a href="single-video-tabs.html">Man's Sky: 21 Minutes of New Gameplay - IGN First</a>*@
                                        </div>
                                        <div class="v-views">
                                            27,548 görüntülenme. <span class="v-percent"><span class="v-circle"></span> @(video.rate*100)%</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @*<div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video1-2.png" alt=""></a>
                                    <div class="time">15:19</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">GTA 5: Michael, Franklin, and Trevor in the Flesh</a>
                                </div>
                                <div class="v-views">
                                    8,241,542 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 93%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video1-3.png" alt=""></a>
                                    <div class="time">4:23</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">Battlefield 3: Official Fault Line Gameplay Trailer</a>
                                </div>
                                <div class="v-views">
                                    2,729,347 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 95%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video1-4.png" alt=""></a>
                                    <div class="time">7:18</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">Batman Arkham City: Hugo Strange Trailer</a>
                                </div>
                                <div class="v-views">
                                    7,239,852 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 84%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video last-row">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video1-5.png" alt=""></a>
                                    <div class="time">23:57</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">BATTALION 1944: TAKING ON BATTLEFIELD 5</a>
                                </div>
                                <div class="v-views">
                                    19,130 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 78%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video last-row">
                                <div class="v-img">
                                    <a href="single-video-tabs.html">
                                        <img src="~/Content/Photos/video1-6.png" alt="">
                                        <div class="watched-mask"></div>
                                        <div class="watched">İzlendi</div>
                                        <div class="time">7:27</div>
                                    </a>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">Amazon Blocking VIDEO GAMES for Non-Prime...</a>
                                </div>
                                <div class="v-views">
                                    185,525 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 93%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video last-row">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video1-7.png" alt=""></a>
                                    <div class="time">12:58</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">Amazing Facts About Nebulas Inside Deep Universe</a>
                                </div>
                                <div class="v-views">
                                    203,741 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 95%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video last-row">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video1-8.png" alt=""></a>
                                    <div class="time">9:47</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">Cornfield Chase - Outlast II Official Gameplay</a>
                                </div>
                                <div class="v-views">
                                    202,513 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 84%</span>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
            <!-- /Featured Videos -->
            <!-- New Videos in India -->
            <div class="content-block head-div head-arrow">
                <div class="head-arrow-icon">
                    <i class="cv cvicon-cv-next"></i>
                </div>
                <div class="cb-header">
                    <div class="row">
                        <div class="col-lg-10 col-sm-10 col-xs-8">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="color-active">
                                        <span class="hidden-xs">Türkiye'deki Yeni Videolar</span>
                                        <span class="visible-xs">Türkiye'deki Yeniler</span>
                                    </a>
                                </li>
                                <li class="hidden-xs"><a href="#">En Çok Görüntülenenler</a></li>
                                <li>
                                    <a href="#">
                                        <span class="hidden-xs">Bu Hafta Öne Çıkanlar</span>
                                        <span class="visible-xs">Öne Çıkan Videolar</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-4">
                            <div class="btn-group pull-right bg-clean">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sıralama <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Uygun</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-calender"></i> Son</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Görüntülenen</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-star"></i> En Çok Oy Alan</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> En Uzun</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="cb-content videolist">

                    <div class="row">
                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video2-1.png" alt=""></a>
                                    <div class="time">54:23</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">There Can Only Be One! Introducing Tanc &amp; Hercules</a>
                                </div>
                                <div class="v-views">
                                    127,548 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 78%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video2-2.png" alt=""></a>
                                    <div class="time">47:12</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">Pokémon 3: The Movie - Spell Of The Unown: Entei HD...</a>
                                </div>
                                <div class="v-views">
                                    18,241,542 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 93%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video2-3.png" alt=""></a>
                                    <div class="watched-mask"></div>
                                    <div class="watched">İzlendi</div>
                                    <div class="time">19:23</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">Bullet Trains and Octopus Balls in South Korea</a>
                                </div>
                                <div class="v-views">
                                    729,347 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 95%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video2-4.png" alt=""></a>
                                    <div class="time">21:18</div>
                                </div>
                                <div class="v-desc">
                                    <a href="#">Top 10 NEW 3DS Games Of 2016 that blew our mind</a>
                                </div>
                                <div class="v-views">
                                    79,239,852 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 84%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video last-row">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video2-5.png" alt=""></a>
                                    <div class="time">1:23:57</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">Mirror's Edge Catalyst Beta: PS4 vs Xbox One Frame-Rate... </a>
                                </div>
                                <div class="v-views">
                                    519,130 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 78%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video last-row">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video2-6.png" alt=""></a>
                                    <div class="time">8:27</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">THE MAGNIFICENT SEVEN - Teaser Trailer (HD)</a>
                                </div>
                                <div class="v-views">
                                    15,525 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 93%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video last-row">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video2-7.png" alt=""></a>
                                    <div class="time">6:58</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">Game of Thrones Season 6: Event Promo (HBO)</a>
                                </div>
                                <div class="v-views">
                                    43,741 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 95%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 videoitem">
                            <div class="b-video last-row">
                                <div class="v-img">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/video2-8.png" alt=""></a>
                                    <div class="time">5:47</div>
                                </div>
                                <div class="v-desc">
                                    <a href="single-video-tabs.html">CHAPPIE Movie – Die Antwoord Featurette...</a>
                                </div>
                                <div class="v-views">
                                    3,202,513 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 84%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /New Videos in India -->
            <!-- Popular Playlists -->
            <div class="content-block head-div head-arrow">
                <div class="head-arrow-icon">
                    <i class="cv cvicon-cv-next"></i>
                </div>
                <div class="cb-header">
                    <div class="row">
                        <div class="col-lg-10 col-sm-10 col-xs-8">
                            <ul class="list-inline">
                                <li><a href="#" class="color-active">Popüler Oynatma Listeleri</a></li>
                                <li><a href="#">Özellikle Son Zamanlarda</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-4">
                            <div class="btn-group pull-right bg-clean">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sıralama  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Uygun</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-calender"></i> Son</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Görüntülenen</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-star"></i> En Çok Oy Alan</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> En Uzun</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="cb-content">
                    <div class="row">

                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <div class="b-playlist">
                                <div class="v-img">
                                    <img src="~/Content/Photos/video1-1.png" alt="" class="l-1">
                                    <img src="~/Content/Photos/video1-2.png" alt="" class="l-2">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/playlist-1.png" alt="" class="l-3"></a>
                                    <div class="items">20</div>
                                </div>
                                <div class="v-desc">
                                    <a href="#">There Can Only Be One! Introducing Tanc &amp; Hercules</a>
                                </div>
                                <div class="v-views">
                                    127,548 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 78%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <div class="b-playlist">
                                <div class="v-img">
                                    <img src="~/Content/Photos/video2-1.png" alt="" class="l-1">
                                    <img src="~/Content/Photos/video2-2.png" alt="" class="l-2">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/playlist-2.png" alt="" class="l-3"></a>
                                    <div class="items">15</div>
                                </div>
                                <div class="v-desc">
                                    <a href="#">Pokémon 3: The Movie - Spell Of The Unown: Entei HD...</a>
                                </div>
                                <div class="v-views">
                                    18,241,542 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 93%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <div class="b-playlist">
                                <div class="v-img">
                                    <img src="~/Content/Photos/video2-6.png" alt="" class="l-1">
                                    <img src="~/Content/Photos/video2-4.png" alt="" class="l-2">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/playlist-3.png" alt="" class="l-3"></a>
                                    <div class="items">7</div>
                                </div>
                                <div class="v-desc">
                                    <a href="#">Bullet Trains and Octopus Balls in South Korea</a>
                                </div>
                                <div class="v-views">
                                    729,347 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 95%</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <div class="b-playlist">
                                <div class="v-img">
                                    <img src="~/Content/Photos/video1-6.png" alt="" class="l-1">
                                    <img src="~/Content/Photos/video1-4.png" alt="" class="l-2">
                                    <a href="single-video-tabs.html"><img src="~/Content/Photos/playlist-4.png" alt="" class="l-3"></a>
                                    <div class="items">27</div>
                                </div>
                                <div class="v-desc">
                                    <a href="#">Top 10 NEW 3DS Games Of 2016 that blew our mind</a>
                                </div>
                                <div class="v-views">
                                    79,239,852 görüntülenme. <span class="v-percent"><span class="v-circle"></span> 84%</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /Popular Playlists -->
            <!-- Popular Channels -->
            <div class="content-block head-div head-arrow">
                <div class="head-arrow-icon">
                    <i class="cv cvicon-cv-next"></i>
                </div>
                <div class="cb-header">
                    <div class="row">
                        <div class="col-lg-10 col-sm-10 col-xs-8">
                            <ul class="list-inline">
                                <li><a href="#" class="color-active">Popüler Kanallar</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-4">
                            <div class="btn-group pull-right bg-clean">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Daha <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Uygun</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-calender"></i> Son</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Görüntülenen</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-star"></i> En Çok Oy Alan</a></li>
                                    <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> En Uzun</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="cb-content chanels-row">
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-xs-4">
                            <div class="b-chanel">
                                <a href="#">
                                    <img src="~/Content/Photos/chanel-1.png" alt="">
                                    <div class="hover">
                                        <span>Ray Simpson</span>
                                        <span><i class="cv cvicon-cv-liked"></i> 5K</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-xs-4">
                            <div class="b-chanel">
                                <a href="#">
                                    <img src="~/Content/Photos/chanel-2.png" alt="">
                                    <div class="hover">
                                        <span>Ray</span>
                                        <span><i class="cv cvicon-cv-liked"></i> 215K</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-xs-4">
                            <div class="b-chanel">
                                <a href="#">
                                    <img src="~/Content/Photos/chanel-3.png" alt="">
                                    <div class="hover">
                                        <span>Simpson</span>
                                        <span><i class="cv cvicon-cv-liked"></i> 21</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-xs-4">
                            <div class="b-chanel">
                                <a href="#">
                                    <img src="~/Content/Photos/chanel-4.png" alt="">
                                    <div class="hover">
                                        <span>Ray Simpson</span>
                                        <span><i class="cv cvicon-cv-liked"></i> 134</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-xs-4">
                            <div class="b-chanel">
                                <a href="#">
                                    <img src="~/Content/Photos/chanel-5.png" alt="">
                                    <div class="hover">
                                        <span>Simpson</span>
                                        <span><i class="cv cvicon-cv-liked"></i> 1.6M</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-xs-4">
                            <div class="b-chanel">
                                <a href="#">
                                    <img src="~/Content/Photos/chanel-6.png" alt="">
                                    <div class="hover">
                                        <apan>Ray</apan>
                                        <span><i class="cv cvicon-cv-liked"></i> 265K</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Popular Channels -->
            <!-- pagination -->
            <div class="v-pagination">
                <ul class="list-inline">
                    <li class="v-pagination-prev"><a href="#"><i class="cv cvicon-cv-previous"></i></a></li>
                    <li class="v-pagination-first"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">10</a></li>
                    <li class="v-pagination-skin visible-xs"><a href="#">5 Sayfa Geç</a></li>
                    <li class="v-pagination-next"><a href="#"><i class="cv cvicon-cv-next"></i></a></li>
                </ul>
            </div>
            <!-- /pagination -->

        </div>
    </div>
</div>