@using proje1.Entities
@{
    Member mmbr = new Member();
    mmbr = Session["member"] as Member;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- player -->
    <link rel="stylesheet" href="~/Content/mediaelementplayer.min.css" />

    <!-- Theme CSS -->
    <link href="~/Content/magnific-popup.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/font-circle-video.css" rel="stylesheet">

    <!-- font-family: 'Hind', sans-serif; -->
    <link href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700|Hind+Guntur:300,400,500,700' rel='stylesheet' type='text/css'>
    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
</head>

<body class="light" id="prm">
    <!-- logo, menu, search, avatar -->
    <div class="container-fluid">
        <div class="row">
            <div class="btn-color-toggle">
                <img src="~/Content/Photos/icon_bulb_light.png" alt="">
            </div>
            <div class="navbar-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 visible-xs">
                            <a href="#" class="btn-menu-toggle"><i class="cv cvicon-cv-menu"></i></a>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-xs-6">
                            <a class="navbar-brand" href="/">
                                <img src="~/Content/Photos/icon.png" alt="Project name" class="logo">
                                <span>Circle</span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-10 hidden-xs">
                            <ul class="list-inline menu">
                                <li class="color-active">
                                    <a href="#">Sayfalar</a>
                                    <ul>
                                        <li><a href="/">Anasayfa</a></li>
                                    </ul>
                                </li>
                                <li><a href="categories.html">Kategoriler</a></li>
                                <li><a href="channel.html">Kanallar</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-8 col-xs-3">
                            <form action="search.html" method="post">
                                <div class="topsearch">
                                    <i class="cv cvicon-cv-cancel topsearch-close"></i>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control" placeholder="Ara" aria-describedby="sizing-addon2">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="cv cvicon-cv-video-file"></i>&nbsp;&nbsp;&nbsp;<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Uygun</a></li>
                                                <li><a href="#"><i class="cv cvicon-cv-calender"></i> Son</a></li>
                                                <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Görüntülenen</a></li>
                                                <li><a href="#"><i class="cv cvicon-cv-star"></i> En Çok Oy Alan</a></li>
                                                <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> En Uzun</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2 col-sm-4 hidden-xs">
                            @if (mmbr != null)
                            {
                                <div class="avatar pull-left">
                                    <img src="~/Content/Photos/avatar.png" alt="avatar">
                                    <span class="status"></span>
                                </div>
                                <div class="selectuser pull-left">
                                    <div class="btn-group pull-right dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            @mmbr.Name
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="/giris-yap">Hesabım</a></li>
                                            <li><a href="/Home/Logout">Çıkış Yap</a></li>
                                        </ul>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="loginsignup pull-right">
                                    <a href="/giris-yap">Giriş Yap</a> . <a href="/kayit-ol">Ücretsiz Kayıt</a>
                                </div>
                            }
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="hidden-xs">
                        <a href="/video-yukle">
                            <div class="upload-button">
                                <i class="cv cvicon-cv-upload-video"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /logo -->

    <div class="mobile-menu">
        <div class="mobile-menu-head">
            <a href="#" class="mobile-menu-close"></a>
            <a class="navbar-brand" href="/">
                <img src="~/Content/Photos/icon.png" alt="bilvideo" class="logo">
                <span>Circle</span>
            </a>
            <div class="mobile-menu-btn-color">
                <img src="~/Content/Photos/icon_bulb_light.png" alt="">
            </div>
        </div>
        <div class="mobile-menu-content">
            <div class="mobile-menu-user">
                <div class="mobile-menu-user-img">
                    <img src="~/Content/Photos/ava11.png" alt="">
                </div>
                <p>Ertuğrul </p>
                <span class="caret"></span>
            </div>
            <a href="#" class="btn mobile-menu-upload">
                <i class="cv cvicon-cv-upload-video"></i>
                <span>Video Yükle</span>
            </a>
            <div class="mobile-menu-list">
                <ul>
                    <li>
                        <a href="#">
                            <i class="cv cvicon-cv-play-circle"></i>
                            <p>Popüler Videolar</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="cv cvicon-cv-playlist"></i>
                            <p>Kategorilere Gözat</p>
                            <span class="caret"></span>
                        </a>
                        <ul class="mobile-menu-categories">
                            <li class="color-active">
                                <a href="#">Sayfalar <span class="caret"></span></a>
                                <ul>
                                    <li><a href="/">Anasayfa</a></li>
                                    @*<li><a href="single-video.html">Single Video Page</a></li>
                                        <li><a href="single-video-youtube.html">Single Video Youtube Embedded Page</a></li>
                                        <li><a href="single-video-vimeo.html">Single Video Vimeo Embedded Page</a></li>
                                        <li><a href="upload.html">Upload Video Page</a></li>
                                        <li><a href="upload-edit.html">Upload Video Edit Page</a></li>
                                        <li><a href="search.html">Searched Videos Page</a></li>
                                        <li><a href="channel.html">Single Channel Page</a></li>
                                        <li><a href="channels.html">Channels Page</a></li>
                                        <li><a href="single-video-tabs.html">Single Videos Page With Tabs</a></li>
                                        <li><a href="single-video-playlist.html">Single Videos Page With Playlist</a></li>
                                        <li><a href="history.html">History Page</a></li>
                                        <li><a href="categories.html">Browse Categories Page</a></li>
                                        <li><a href="categories_side_menu.html">Browse Categories Side Menu Page</a></li>
                                        <li><a href="subscription.html">Subscription Page</a></li>
                                        <li><a href="login.html">Login Page</a></li>
                                        <li><a href="signup.html">Signup Page</a></li>*@
                                </ul>
                            </li>
                            <li><a href="/kategoriler">Kategoriler</a></li>
                            <li><a href="/kanallar">Kanallar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="cv cvicon-cv-liked"></i>
                            <p>Beğenilen Videolar</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="cv cvicon-cv-history"></i>
                            <p>Geçmiş</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="cv cvicon-cv-purchased"></i>
                            <p>Satın Alınan Videolar</p>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn mobile-menu-logout">Çıkış Yap</a>
        </div>
    </div>

    <!-- goto -->
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-container2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-sm-2 hidden-xs">
                            <div class="goto">
                                Hızlı Git:
                            </div>
                        </div>
                        <div class="col-lg-3  col-sm-10 col-xs-12">
                            <div class="h-icons">
                                <a href="#"><i class="cv cvicon-cv-liked" data-toggle="tooltip" data-placement="top" title="" data-original-title="Liked Videos"></i></a>
                                <a href="#"><i class="cv cvicon-cv-watch-later" data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch Later"></i></a>
                                <a href="#"><i class="cv cvicon-cv-play-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Saved Playlist"></i></a>
                                <a href="#"><i class="cv cvicon-cv-purchased" data-toggle="tooltip" data-placement="top" title="" data-original-title="Purchased Videos"></i></a>
                                <a href="#"><i class="cv cvicon-cv-history" data-toggle="tooltip" data-placement="top" title="" data-original-title="History"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-sm-10 hidden-xs">
                            <div class="h-resume">
                                <div class="play-icon">
                                    <a href="#"><i class="cv cvicon-cv-play"></i></a>
                                </div>
                                Devam Et:  <span class="color-default">Daredevil Season 2 : Episode 6 </span>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-2 hidden-xs">
                            <div class="h-grid">
                                <a href="#"><i class="cv cvicon-cv-grid-view"></i></a>
                                <a href="#"><i class="cv cvicon-cv-list-view"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /goto -->

    <div class="content-wrapper">
        @RenderBody()
    </div>

    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="container padding-def">
                    <div class="col-lg-1  col-sm-2 col-xs-12 footer-logo">
                        <!--<a class="navbar-brand" href="index.html"><img src="images/logo.svg" alt="Project name" class="logo" /></a>-->
                        <a class="navbar-brand" href="/">
                            <img src="~/Content/Photos/icon.png" alt="bilvideo" class="logo">
                        </a>
                    </div>
                    <div class="col-lg-7 col-sm-6 col-xs-12">
                        <div class="f-links">
                            <ul class="list-inline">
                                <li><a href="#">Hakkında</a></li>
                                <li><a href="#">Basın</a></li>
                                <li><a href="#">Copyright</a></li>
                                <li><a href="#">Reklam</a></li>
                                <li class="hidden-xs"><a href="#">Yardım</a></li>
                            </ul>
                        </div>
                        <div class="delimiter"></div>
                    </div>
                    <div class="col-lg-7 col-sm-6 col-xs-12">
                        <div class="f-copy">
                            <ul class="list-inline">
                                <li><a href="#">Şartlar</a></li>
                                <li><a href="#">Gizlilik</a></li>
                                <li>Copyrights 2018 <a href="/" class="hidden-xs">bilvideo.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-offset-1 col-lg-3 col-sm-4 col-xs-12">
                        <div class="f-last-line">
                            <div class="f-icon pull-left">
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                            <div class="f-lang pull-right">
                                <!-- Small button group -->
                                <div class="btn-group dropup pull-right">
                                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dil <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Uygun</a></li>
                                        <li><a href="#"><i class="cv cvicon-cv-calender"></i> Son</a></li>
                                        <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Görüntülenen</a></li>
                                        <li><a href="#"><i class="cv cvicon-cv-star"></i> En Çok Oy Alan</a></li>
                                        <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> En Uzun</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="delimiter visible-xs"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/clipboard.min.js"></script>
    <script src="~/Scripts/mediaelement-and-player.js"></script>
    <script src="~/Scripts/custom.js"></script>
</body>
</html>